/* @import "./test.css"; */
@import "./fixed.css";
@import "./builder.css";
@import "./theme.css";

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

video,
img {
  display: block;
  width: 100%;
}