.node-root-content {

    --h1-font-size: 2.25rem;
    --h1-font-family: var(--font-sans);
    --h1-line-height: 1.2;
    --h1-color: var(--foreground);

    --h2-font-size: 1.875rem;
    --h2-font-family: var(--font-sans);
    --h2-line-height: 1.2;
    --h2-color: var(--foreground);

    --h3-font-size: 1.5rem;
    --h3-font-family: var(--font-sans);
    --h3-line-height: 1.2;
    --h3-color: var(--foreground);

    --h4-font-size: 1.25rem;
    --h4-font-family: var(--font-sans);
    --h4-line-height: 1.2;
    --h4-color: var(--foreground);

    --h5-font-size: 1.125rem;
    --h5-font-family: var(--font-sans);
    --h5-line-height: 1.2;
    --h5-color: var(--foreground);

    --h6-font-size: 1rem;
    --h6-font-family: var(--font-sans);
    --h6-line-height: 1.2;
    --h6-color: var(--foreground);

}

:where(.node-root-content .h1) {
    font-size: var(--h1-font-size);
    font-family: var(--h1-font-family);
    line-height: var(--h1-line-height);
    color: var(--h1-color);
}

:where(.node-root-content .h2) {
    font-size: var(--h2-font-size);
    font-family: var(--h2-font-family);
    line-height: var(--h2-line-height);
    color: var(--h2-color);
}

:where(.node-root-content .h3) {
    font-size: var(--h3-font-size);
    font-family: var(--h3-font-family);
    line-height: var(--h3-line-height);
    color: var(--h3-color);
}

:where(.node-root-content .h4) {
    font-size: var(--h4-font-size);
    font-family: var(--h4-font-family);
    line-height: var(--h4-line-height);
    color: var(--h4-color);
}

:where(.node-root-content .h5) {
    font-size: var(--h5-font-size);
    font-family: var(--h5-font-family);
    line-height: var(--h5-line-height);
    color: var(--h5-color);
}

:where(.node-root-content .h6) {
    font-size: var(--h6-font-size);
    font-family: var(--h6-font-family);
    line-height: var(--h6-line-height);
    color: var(--h6-color);
}