html, body {
    height: 100%;
    margin: 0;
    display: block;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

/* CONTAINERS */
@import "./node-container.css";
@import "./node-flex.css";
@import "./node-grid.css";
@import "./node-hero.css";
@import "./node-two-column.css";

/* FORM */
@import "./node-form.css";

/* NAV */
@import "./node-nav.css";
@import "./node-nav-api.css";
@import "./node-list-api.css";
@import "./node-list-image.css";
@import "./node-nav-item.css";

/* CONTENT */
@import "./node-text.css";
@import "./node-rich-text.css";
@import "./node-html.css";
@import "./node-header.css";
@import "./node-image.css";
@import "./node-slideshow.css";
@import "./node-video.css";
@import "./node-youtube.css";
@import "./node-button.css";
@import "./node-top-button.css";
@import "./node-card.css";
@import "./node-anniversaire.css";
@import "./node-video-home.css";
@import "./node-puremusic-top-semaine.css";

/* API */
@import "./node-card-video.css";

/* Node text + icône (<i class="ce-icon">) */
@import "./node-text-icon.css";
@import "./node-icone.css";
