/* NodeSlideshow (Swiper) */
.ce-slideshow {
  width: 100%;
  position: relative;
}

.ce-slideshow .ce-slideshow-swiper {
  width: 100%;
}

.ce-slideshow .ce-slideshow-slide {
  display: flex;
}

.ce-slideshow .ce-slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ce-slideshow .ce-slideshow-image-wrapper {
  width: 100%;
  overflow: hidden;
}

