.ce-video {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.ce-video-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    transition-property: opacity;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ce-video-poster:hover {
    opacity: 0.9;
}

.ce-video-placeholder {
    align-items: center;
    background-color: hsl(var(--muted) / 0.5);
    border-radius: 0.5rem;
    border-style: dashed;
    color: hsl(var(--muted-foreground));
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    height: auto;
    justify-content: center;
    line-height: 1.25rem;
    padding: 2rem;
    width: 100%;
}

.ce-video-placeholder .ce-icon {
    /* webpackIgnore: true */
    --player-icon-mask: var(--ce-builder-icon-video-mask-url, url("/assets/icons/video.svg"));
    --player-icon-size: 3rem;

    display: block;
    height: var(--player-icon-size);
    width: var(--player-icon-size);
    background-color: #8F9CAC;
    opacity: 0.9;
    mask: var(--player-icon-mask) no-repeat center;
    -webkit-mask: var(--player-icon-mask) no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}






@media (max-width: 768px) {
    .ce-video-icon-player-inner {
        --ce-video-player-circle-size: 2.75rem;
    }
}

.ce-video-icon-player-inner{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    inset: 0;
    z-index: 10;
}

.ce-icon-video-play {
    display: inline-block;
    width: min(56px, 25%);
    aspect-ratio: 1;
    background-image: var(--ce-video-player-icon-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
